.address {
    margin-top: 20px;
    font-weight: 400;
    line-height: var(--secondary-line-height);
  }

  .address__post {
    display: block;
    margin-bottom: 9px;
  
    color: var(--tertiary-color-text);
    font-style: normal;
  }
  
  .address-post:last-child {
    padding-bottom: 0px;
  }
  
  .address__contact {
    display: block;
    padding-right: 0px;
    margin-bottom: 9px;
  
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .address__contact:last-child {
    margin-bottom: 0px;
  }
  
  .footer__social-network {
    margin-left: 70px;
  }
  