.advantage__list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  
  .advantage__item {
    display: block;
    width: 270px;
    margin-right: 30px;
  }
  
  
  .advantage__item::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
  
    background-color: var(--secondary-background-page);
    border-radius: 4px;
  
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .advantage__item--icon-antena::before {
    background-image: url(../images/decoration-img/icon-hidden/antenna.png);
  }
  .advantage__item--icon-clock::before {
    background-image: url(../images/decoration-img/icon-hidden/clock.png);
  }
  .advantage__item--icon-diagram::before {
    background-image: url(../images/decoration-img/icon-hidden/diagram.png);
  }
  .advantage__item--icon-astronautz::before {
    background-image: url(../images/decoration-img/icon-hidden/astronautz.png);
  }
  
  .advantage__subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
  
    color: var(--secondary-color-text);
    font-size: 14px;
    font-weight: var(--secondary-font-weight);
    line-height: var(--secondary-line-height);
    text-transform: uppercase;
  }
  
  .advantage__text {
    margin-bottom: 0px;
    margin-top: 10px;
  
    font-weight: 400;
    line-height: var(--secondary-line-height);
  }
  