.hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  
    background-color: #c4c4c4;
  
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/decoration-img/hero.jpg");
  }
  
  .hero__title {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
  
    color: var(--tertiary-color-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
  .hero__button {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
  
    color: var(--tertiary-color-text);
    background-color: var(--accent-color);
    font-weight: var(--secondary-font-weight);
    font-size: var(--primary-font-size);
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hero__button:hover,
  .hero__button:focus {
    background-color: var(--secondary-accent-color);
  }
  