  // section title

  .section-project__title,
  .section-staff__title,
  .customer__title {
    margin-bottom: 50px;
    margin-top: 0px;
  
    color: var(--secondary-color-text);
    font-weight: var(--secondary-font-weight);
    font-size: 36px;
    line-height: var(--primary-line-height);
    text-align: center;
  }
    